
body{
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1540px;
  margin: 0 auto;
  
}
h2{
display: flex;
justify-content: center;
}

h1, h2, p, a{
  padding: 0px;
  margin: 0px;
  color: #000;
}

a{
  text-decoration: none;

}
img {
border-radius: 8px;
border: 1px solid rgba(226, 78, 62, 0.333);
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

}



li{
list-style: none;
}


.menu {
  display: flex;
  background: #554DBE;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 10px;
  
  
  
}
.menu img{
  border: none;
  box-shadow: none;
  padding-left: 35px;
}

.img-mais-vendido{
  width: 240px;
  height: 250px;
}

.dp-menu ul li{
display: inline;
position: relative;
gap: 0px;
}

.dp-menu ul li a{
background: #554DBE;
color: #000;
padding: 8px 14px;
display: inline-block;
border-radius: 1px;
font-size: 28px;

}

.dp-menu ul li a:hover{
background: #000;
color: #554DBE;
transition: background 0.6s;
scale: calc(1.02);

}

.dp-menu ul ul{
display: none;
left: -40px;
position: absolute;

}


.dp-menu ul li:hover ul{
display: block;
width: 100%;


}


.dp-menu ul ul li{
display: inline;

}

.dp-menu ul ul li a{
display: block;

}

.mais-vendidos-titulo{
  background-image: url(./img/onda.svg)!important;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  background: #DDC8FF;
  padding-bottom: 40px;
  font-size: 40px;
     
}
.botao-comprar{
  max-width: 100px;
  background: #00000035;
  color: #000;
  padding: 8px 14px;
  display: inline-block;
  border-radius: 4px;
  font-size: 25px;
  transition:.5s;
  margin-top: 10px;
  
}
.botao-comprar:hover{
  background: #000;
  color: #554DBE;
  scale: calc(1.08);
  
  
  
}

  .produto-mais-vendido{
    background-image: url(./img/onda.svg)!important;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px 0px 69px 79px;
    font-size: 30px;
    flex-wrap: wrap;
    background: #DDC8FF;
    transition: 0.5s;
  }
  
  .produto-mais-vendido div a img{
    transition: 0.5s;
  }

  .produto-mais-vendido div a img:hover{
  
    transform: scale(1.02);
  }
  
  .produto-blusa {
    display: block;
    font-size: 40px;
    text-align: center;
    background: #C3AEFF;
    padding: 15px 0px 45px 0px;
  }

  .categoria-blusa {
    display: flex;
    align-items: center;
    background: #C3AEFF;
    
  }
  
  .categoria-blusa ul{
    display: flex;
    padding-bottom: 80px;
    padding-left: 59px;
    gap: 59px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    flex-direction: row;
    transition: .3s;
    
  }

  .categoria-blusa ul li:hover{
    transition: .5s;
    transform: scale(1.02);
  }
 
  .categoria-calca ul li:hover{
    transition: .5s;
    transform: scale(1.02);
  }
 
  .categoria-sapato ul li:hover{
    transition: .5s;
    transform: scale(1.02);
  }

.lista-produto img {
    flex: 0 0 auto;
    width: 100%; 
    scroll-snap-align: start;
  }

  li img{
    width: 240px;
  height: 250px;
  }


  
  .produto-calca {
    display: block;
    font-size: 42px;
    text-align: center;
    background: #DDC8FF;
    padding: 15px 0px 45px 0px;
  }


  footer p{
    font-size: 24px;
    padding: 57px 0px 10px 0px;
    display: inline-block;
    justify-items: center;
  }

  .categoria-calca {
    display: flex;
    align-items: center;
    background: #DDC8FF;
    
  }
  
  .categoria-calca ul{
    display: flex;
    padding-bottom: 80px;
    padding-left: 59px;
    gap: 59px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    flex-direction: row;
    
  }

  .produto-sapato {
    display: block;
    font-size: 42px;
    text-align: center;
    background: #C3AEFF;
    padding: 15px 0px 45px 0px;
  }


  .categoria-sapato {
    display: flex;
    align-items: center;
    background: #C3AEFF;
    
  }
  
  .categoria-sapato ul{
    display: flex;
    padding-bottom: 80px;
    padding-left: 59px;
    gap: 59px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    flex-direction: row;
    
  }

  
  footer{
    background: #554DBE;
    
  }
  footer h2 {
    font-size: 24px;
    padding: 14px 0px;
    display: flex;
    justify-content: center;
}
  footer .dp-menu{
    padding-right: 18px;
  }

  .footer-icons{
    margin-right: 120px;
  }

  .footer-icons a i {
    font-size: 2.2rem; 
  }

  
  i:hover{
    animation: translateY 0.8s infinite alternate;
    
  }

  @keyframes translateY {
    from {
      transform: translateY(0) scale(1);
    }
    to {
      transform: translateY(-8px) scale(1.1);
    }
  }

  .menu-footer{
    display: flex;
    background: #554DBE;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 40px;
  }


  
  .menu-footer a{
    font-size: 25px;

  }

  footer p{
    display: grid;
    font-size: 16px;
    padding: 20px 0px 11px 0px; 
  }



  
  /* Estilização da página minhas_compras e carrinho*/

  .minhas_compras{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 140px;
    background-color: #DDC8FF;
  }
  
  .minhas_compras h2{
    padding-top: 80px;
   display: flex;
    justify-content: center;
    background: #DDC8FF;
    padding-bottom: 80px;
    font-size: 46px;
  }
  .produto-vendido {
    margin-left: 120px;
    display: flex;
    gap: 40px;
    align-items: center;
    padding-left: 20px; 
  }

  .desc-prod-home {
    display: grid;
    grid-template-columns: 180px 1fr; /* Define um tamanho máximo de 150px para a primeira coluna. */
    justify-content: space-between;
    background-color: #c4aeff50;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }
  
  
  .desc-prod-home p{
    font-weight: 700;
  }

  .desc-prod-home span{
    font-weight: 500;
  }



  .desc-produto-vendido {
    padding: 20px;
    background-color: #C3AEFF;
    flex-grow: 1;
    padding-right: 20px;
  }
  
  .desc-produto-vendido p {
    font-size: 36px;
  }
  
  .desc-produto-vendido{
    padding-left: 60px;
    width: 40px auto;
    background-color: #C3AEFF;

  }



  /* Estilização da pagina Categorias*/





  /*Estilização da Pagina Carrinho*/


  .total-pagamento{
    display: flex;
    margin-left: 140px;
    justify-content: center;
    flex-direction: column;
  }

  .total-pagamento h3, span{
    font-size: 28px;
  }


 
  .btn-pagamento{
    display: flex;
    width: 145px;
    margin: 24px 0px;
    background: #554DBE;
    color: #000;
    padding: 14px 10px;
    display: inline-block;
    border-radius: 1px;
    font-size: 28px;
    
    }
    
    .btn-pagamento:hover{
    background: #000;
    color: #554DBE;
    transition: background 0.6s;
    scale: calc(1.02);
    
    }


    .inserir-dados .btn-pagamento{
      border-radius: 5px;
      display: flex;
      justify-content: center;
      margin-left: 600px;
    }

  /*Estilização da Pagina Pagamento*/

  .titulo-pagamento {
    display: flex;
    flex-direction: column;
    background-color: #C3AEFF;
    padding: 110PX;
    gap: 80px;
  }
  .titulo-pagamento h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    
  }

  .pagamento-formas {
    display: flex;
    justify-content: center;
    background-color: #C3AEFF;
    height: 100px;
    padding-top: 20px;
    gap: 10px;
  } 

  .forma-pagamento {
    display: flex;
    background-color: #C3AEFF;
    justify-content: center;
    padding-top: 600px;
  } 

  .pagamento-formas a img {
    width: 120px;
    height: 70px;
  }

  .inserir-dados {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background-color: #C3AEFF;
    
  }

  .inserir-dados input,label{
    display: flex;
    width: 800px;
    font-size: 20px;
  }

  label{
    padding-bottom: 10px;
  }


  .inserir-dados select {
    margin-top: 10px;
    margin-right: 750px; 
    height: 60px;
    width: 60px;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.5); 
}

  

  

  .inserir-dados input {
    display: flex;
    /* padding-bottom: 20px;
    margin-bottom: 20px; */
    align-content: center;
    width: 800px;
    height: 51px;
    margin-bottom: 16px;
  }

  .data-codigo {
    display: flex;
    justify-content: center;
    width: 15px;
    gap: 38px;
  }
  .data-codigo label {
    display: flex;
    justify-items: left;
  }