:root {

  --cor-primaria: #554DBE;
  --cor-bg-1: #C3AEFF;
  --cor-bg-2: #DDC8FF;
  --cor-tbn-hover: #000;
}






body {
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1540px;
  margin: 0 auto;
  background-color: var(--cor-bg-1);

}

h2 {
  display: flex;
  justify-content: center;
}

h1,
h2,
p,
a {
  padding: 0px;
  margin: 0px;
  color: var(--cor-tbn-hover);
}

a {
  text-decoration: none;

}

img {
  border-radius: 8px;
  border: 1px solid rgba(226, 78, 62, 0.333);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

}



li {
  list-style: none;
}


.deco {
  border-bottom: 2px solid white;

}



.logo22 {
  width: 220px;
  height: 70px;
  margin: 10px 0;
  margin-left: 30px;
}

.logo22 img {
  width: 100%;
  height: 100%;
  background-size: cover;

}


.menu {
  display: flex;
  background: var(--cor-primaria);
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 10px;



}


.banner{
  display: flex;
  border: 100px;
  padding: 120px;
  margin: 10px auto;
  bottom: 10px;
  width: 1200px;
  height: 200px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  transition: 1s ease-in-out;
  transform: translateX(0); 
}

#img1{
  object-fit: fill  !important;
}

.imagemAnimada{
  position: absolute;
  align-items: center;
  bottom: 100px;
  width: 1200px;
  height: 250px;
  object-fit: cover;
  
}

.dp-menu ul li {
  display: inline;
  position: relative;
  gap: 0px;
}

.dp-menu ul li a {
  background: var(--cor-primaria);
  color: var(--cor-tbn-hover);
  padding: 8px 14px;
  display: inline-block;
  border-radius: 1px;
  font-size: 28px;

}

.dp-menu ul li a:hover {
  background: var(--cor-tbn-hover);
  color: var(--cor-bg-1);
  transition: background 0.6s;
  scale: calc(1.02);

}

.dp-menu ul ul {
  z-index: 2;
  display: none;
  left: -40px;
  position: absolute;

}


.dp-menu ul li:hover ul {
  display: block;
  width: 100%;


}


.dp-menu ul ul li {
  display: inline;

}

.dp-menu ul ul li a {
  display: block;

}


/*Testes*/


.bg-1 {
  background: var(--cor-bg-1);
}

.bg-2 {
  background: var(--cor-bg-2);
}

.bg-1 h2,
.bg-2 h2 {
  display: block;
  font-size: 40px;
  text-align: center;
  padding: 15px 0px 45px 0px;
}

section ul li {
  width: 240px;
  height: 280px;
}

section ul li img {
  overflow: hidden;
}

/*Testes*/


.mais-vendidos-titulo {
  background-image: url(./img/onda.svg) !important;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  background: var(--cor-bg-2);
  padding-bottom: 40px;
  font-size: 40px;

}

.botao-comprar {
  max-width: 100px;
  background: #00000035;
  color: var(--cor-tbn-hover);
  padding: 8px 14px;
  display: inline-block;
  border-radius: 4px;
  font-size: 25px;
  transition: .5s;
  margin-top: 10px;

}

.botao-comprar:hover {
  background: var(--cor-tbn-hover);
  color: var(--cor-bg-1);
  scale: calc(1.08);

}

.produto-mais-vendido {
  background-image: url(./img/onda.svg) !important;
  display: flex;
  gap: 50px;
  padding-left: 185px;
  padding-bottom: 45px;
  /* padding: 20px 0px 69px 79px; */
  font-size: 30px;
  flex-wrap: wrap;
  background: var(--cor-bg-2);
  transition: 0.5s;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 120px;
}

.produto-mais-vendido div a img {
  width: 300px;
  height: 340px;
  transition: 0.5s;
}



.produto-mais-vendido div a img:hover {

  transform: scale(1.02);
}



.categoria {
  display: flex;
  align-items: center;
}

.categoria ul {
  display: flex;
  padding-bottom: 10px;
  padding-left: 59px;
  gap: 59px;
  overflow-x: scroll;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  justify-content: flex-start;
  flex-direction: row;
  transition: .3s;
}



.categoria ul li:hover {
  transition: .5s;
  transform: scale(1.02);
}

.btn {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 15px 0 30px 0;
}

.btn .botao-comprar {
  padding: 12px 45px;
  cursor: pointer;
}


.lista-produto img {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: start;
}

li img {
  width: 240px;
  height: 250px;

}



footer p {
  font-size: 24px;
  padding: 57px 0px 10px 0px;
  display: inline-block;
  justify-items: center;
}


footer {
  background: var(--cor-primaria);

}

footer h2 {
  font-size: 24px;
  padding: 14px 0px;
  display: flex;
  justify-content: center;
}

footer .dp-menu {
  padding-right: 18px;
}

.footer-icons {
  margin-right: 120px;
}

.footer-icons a i {
  font-size: 2.2rem;
}


i:hover {
  animation: translateY 0.8s infinite alternate;

}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }

  to {
    transform: translateY(-8px) scale(1.1);
  }
}

.menu-footer {
  display: flex;
  background: var(--cor-primaria);
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 40px;
}



.menu-footer a {
  font-size: 25px;

}

footer p {
  display: grid;
  font-size: 16px;
  padding: 20px 0px 11px 0px;
}




/* Estilização da página minhas_compras e carrinho*/



.minhas_compras {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 140px;
  background-color: var(--cor-bg-2);
}

.minhas_compras h2 {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  background: var(--cor-bg-2);
  padding-bottom: 80px;
  font-size: 46px;
}

.produto-vendido {
  margin-left: 240px;
  display: flex;
  gap: 40px;
  align-items: center;
  padding-left: 20px;
}

.produto-vendido div p{
  font-size: 28px;
}

.produto-vendido .img-produto-vendido {
  width: 260px;
  height: 290px;
}

.produto-vendido .img-produto-vendido img {
  width: 100%;
  height: 100%;
  background-size: cover;

}

.desc-prod-home {
  display: grid;
  grid-template-columns: 180px 1fr;
  /* Define um tamanho máximo de 150px para a primeira coluna. */
  justify-content: space-between;
  background-color: #c4aeff50;
  min-width: 440px;
  min-height: 160px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}


.desc-prod-home p {
  font-weight: 700;
  border: var(--cor-bg-1);
  line-height: 1.5;
}

.desc-prod-home span {
  font-weight: 500;
  line-height: 1.5;
}



.desc-produto-vendido {
  display: grid;
  align-items: end;
  grid-template-columns: 150px 1fr;
  padding: 20px;
  background-color: var(--cor-bg-1);
  flex-grow: 1;
  padding-right: 20px;
}

.desc-produto-vendido p {
  font-size: 34px;
  border-left: 1px solid #0000003d;
  border-bottom: 1px solid #0000003d;

}

.desc-produto-vendido span {
  padding-left: 10px;
  color: var(--cor-tbn-hover);
  border-left: 1px solid #0000003d;
  border-right: 1px solid #0000003d;
  border-bottom: 1px solid #0000003d;
}

.desc-produto-vendido {
  padding-left: 60px;
  width: 40px auto;
  background-color: var(--cor-bg-1);

}

/* Endereço */
.endereco{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: start;
}

.endereco label{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

.endereco input{
  width: 500px;
  height: 30px;
  margin-bottom: 25px;
}
.endereco_container {
  display: flex;
  flex-direction: column;

}

.endereco_container .uf, .endereco_container select{
  align-items: flex-start;
}


.endereco_container select{
  align-items: center;
  margin-right: 750px;
  height: 40px;
  width: 55px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}



/* Estilização da pagina Categorias*/

.pgCategoria {
  display: grid;
  justify-content: center;
  padding-bottom: 60px;
}

.pg-sapatos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 40px;
  max-width: 1200px;
}


.pg-produto {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 40px;
  max-width: 1200px;
}


.carrinho-btn,.carrinho-btn img{
  width: 45px!important;
  height: 45px!important;
  margin-top: 4px;
}






/*Estilização da Pagina Carrinho*/


.total-pagamento {
  display: flex;
  margin-left: 180px;
  justify-content: center;
  flex-direction: column;
}

.total-pagamento h3,
span {
  font-size: 28px;
}



.btn-pagamento {
  display: flex;
  width: 145px;
  margin: 24px 0px;
  background: var(--cor-primaria);
  color: var(--cor-tbn-hover);
  padding: 14px 10px;
  display: inline-block;
  border-radius: 1px;
  font-size: 28px;
  cursor: pointer;

}

.btn-pagamento:hover {
  background: var(--cor-tbn-hover);
  color: var(--cor-bg-1);
  transition: background 0.6s;
  scale: calc(1.02);

}


.inserir-dados .btn-pagamento {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  /* margin-left: 600px; */
}

.img-carrinho{
  width: 210px;
  height: 250px;
}











/*Estilização da Pagina Pagamento*/

.titulo-pagamento {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--cor-bg-1);
  padding: 50PX;
  gap: 50px;
}

.titulo-pagamento h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;

}

.pagamento-formas {
  display: flex;
  justify-content: center;
  background-color: var(--cor-bg-1);
  height: 100px;
  padding-top: 20px;
  gap: 10px;
}

.forma-pagamento {
  display: flex;
  background-color: var(--cor-bg-1);
  justify-content: center;
  padding-top: 200px;
}

.pagamento-formas a img {
  width: 120px;
  height: 70px;
}

.inserir-dados {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  background-color: var(--cor-bg-1);

}

.inserir-dados input,
label {
  display: flex;
  width: 800px;
  font-size: 20px;
}

label {
  padding-bottom: 10px;
}


.inserir-dados select {
  margin-top: 10px;
  margin-right: 750px;
  height: 60px;
  width: 60px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}





.inserir-dados input {
  display: flex;
  /* padding-bottom: 20px;
    margin-bottom: 20px; */
  align-content: center;
  width: 800px;
  height: 51px;
  margin-bottom: 16px;
}

.data-codigo {
  display: flex;
  justify-content: center;
  width: 15px;
  gap: 38px;
}

.data-codigo label {
  display: flex;
  justify-items: left;
}

.inserir-dados h2{
  padding-bottom: 36px;
}

.boleto {
  /* position: absolute; */
  top: 270px;
  left: 350px;
  width: 800px;
  margin: 20px auto;
  border: 1px solid #000;
  padding: 20px;
  background-color:white;
}

.pix{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.pix span{
  cursor: copy;
  padding: 12PX;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.pix h3{
  font-size: 24px;
}

.detalhes-blt {
  margin-bottom: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #000;
  padding: 8px;
}
th {
  text-align: left;
}
.footer {
  text-align: center;
  margin-top: 20px;
}

.hiden{
  display: none;
}



.obrigado {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}