
body{
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1440px;
    
}

h1, h2, p, a{
    padding: 0px;
    margin: 0px;
    color: #000;
}

a{
    text-decoration: none;

}
img {
  border-radius: 8px;
  border: 1px solid rgba(226, 78, 62, 0.333);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* offsetX, offsetY, blur, color */
  /* Ajuste outros estilos da imagem, se necessário */
}



li{
  list-style: none;
}
.menu {
    display: flex;
    background: #554DBE;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0px 40px;
    
    
    
  }
  .menu img{
    border: none;
    box-shadow: none;
  }
  
  
  .link {
    display: flex;
    gap: 39px;
    padding-right: 60px;
    position: relative;
  
  }

.categoria{
  position: relative;
}
  
  
  .link a{
    font-size: 25px;
    border:0.1 solid;
    padding: 10px 18px;
    border-radius: 4px;
    background: #C3AEFF;
    
  }
  
  .detalhe {
    position: absolute;
    left: 265px;
    top: 23px;
    border-left: 6px solid transparent; 
    border-right: 6px solid transparent; 
    border-top: 8px solid #000; 

  }
 
  .submenu a{
    font-size: 16px;
    border:0.1 solid;
    padding: 3px;
    border-radius: 4px;
    padding-right: 8px;
  }

  .submenu{
    display: none;
    position: absolute;
    
    
    left: 95px;
    top: 45px;
    gap: 15px;
    z-index: 1;

  }

  
 
  .categoria:hover + .submenu{
    display: flex;
  }


  
  

.mais-vendidos-titulo{
  padding-top: 100px;
   display: flex;
    justify-content: center;
    background: #DDC8FF;
    padding-bottom: 80px;
    font-size: 46px;
     
}




  .produto-mais-vendido{
    display: flex;
    align-items: center;
    gap: 84px;
    padding: 0px 0px 89px 59px;
    font-size: 40px;
    flex-wrap: wrap;
    background: #DDC8FF;

  }
  
  .produto-blusa {
    display: block;
    font-size: 42px;
    text-align: center;
    background: #C3AEFF;
    padding: 185px 0px 45px 0px;
  }


  .categoria-blusa {
    display: flex;
    align-items: center;
    background: #C3AEFF;
    
  }
  
  .categoria-blusa ul{
    display: flex;
    padding-bottom: 155px;
    padding-left: 59px;
    gap: 59px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    flex-direction: row;
    
  }


  
.lista-produto img {
    flex: 0 0 auto;
    width: 100%; /* Garante que as imagens não ultrapassem o contêiner */
    scroll-snap-align: start;
  }


  
  .produto-calca {
    display: block;
    font-size: 42px;
    text-align: center;
    background: #DDC8FF;
    padding: 185px 0px 45px 0px;
  }


  footer p{
    font-size: 24px;
    padding: 57px 0px 10px 0px;
    display: inline-block;
    justify-items: center;
  }


  .categoria-calca {
    display: flex;
    align-items: center;
    background: #DDC8FF;
    
  }
  
  .categoria-calca ul{
    display: flex;
    padding-bottom: 155px;
    padding-left: 59px;
    gap: 59px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    flex-direction: row;
    
  }



  .produto-sapato {
    display: block;
    font-size: 42px;
    text-align: center;
    background: #C3AEFF;
    padding: 185px 0px 45px 0px;
  }


  .categoria-sapato {
    display: flex;
    align-items: center;
    background: #C3AEFF;
    
  }
  
  .categoria-sapato ul{
    display: flex;
    padding-bottom: 155px;
    padding-left: 59px;
    gap: 59px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    justify-content: flex-start;
    flex-direction: row;
    
  }
  footer{
    background: #554DBE;
    
  }
  footer h2{
    padding: 18px 0px 10px 43px;
  }


  .menu-footer{
    display: flex;
    background: #554DBE;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0px 40px;
  }

  .detalhe-footer {
    position: absolute;
    left: 210px;
    top: 13px;
    border-left: 6px solid transparent; /* Largura da seta */
    border-right: 6px solid transparent; /* Largura da seta */
    border-top: 8px solid #000; /* Cor da seta */
  }

  .link-footer {
    display: flex;
    gap: 39px;
    padding-right: 60px;
    position: relative;
  
  }


  .menu-footer a{
    font-size: 25px;
  }

  footer p{
    display: grid;
    font-size: 24px;
    padding: 57px 0px 11px 0px; 
  }